[Unit]
Description=hubbIT-interface

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/opt/digit/hubbIT-sniffer/scripts/setup-hubbit-iface.sh %i
WorkingDirectory=/opt/digit/hubbIT-sniffer/

[Install]
WantedBy=multi-user.target
