[Unit]
Description=hubbIT-sniffer
Requires=hubbIT-interface@%i.service
After=hubbIT-interface@%i.service

[Service]
ExecStart=/opt/digit/hubbIT-sniffer/start-sniffer.sh %i
WorkingDirectory=/opt/digit/hubbIT-sniffer/
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
